


body {
    /*font-family: 'Lato', sans-serif;*/
    /*font-weight: 300;*/
    font-family: 'Work Sans', serif;
    font-weight: 300;
    /*color: #747704;*/
    color: #964b00;
    background: #f8f3e4;

    /*font-family: 'Merriweather', serif;*/
}

/*.text-muted {
    color: #BCBBBB;

}*/

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}




.name {
    font-weight: 100;
    font-size: 60px;
}

a {
    color: inherit;
}

.header-logo {
    margin-top: 20px;
}

hr {
    /*color: gray;*/
    border-width: 3px;
    border-color: grey;
}

.img-responsive {
    margin: 0 auto;
}
footer {
    /*margin-top: 20px;*/
    /*margin-bottom: 50em;
    padding-bottom: 50em;*/
}

.work-examples {
    text-align: center;
    /*width: 100%;*/

}

p.link-addr {
    font-size: 1em;
}

.portfolio-name {
    font-size: 2em;
}

.featured-annoucer {
    margin-bottom: 2em;
    margin-top: 3.5em;
}
em {
    border-width: 3px;
}

.social-links {
    display: flex;
}

.brandico-linkedin-rect {
    /*margin-left: 1px;*/
    color: #0077b5;
    font-size: 30px;
}

.brandico-github-text {
    font-size: 30px;
    color: black;
    /*padding: 15px;*/
}

.social-links p {
    padding-top: 17px;
    margin-right: 10px;
}

.social-links a {
    padding: 10px;

}

.project {
    margin-bottom: 4em;
    /*margin-top: 0;*/
}

.img-rounded {
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-title {
    text-align: right;
}

.featured-annoucer h2 u {
    text-decoration: none;
    border-bottom: 2px solid #964b00;
}
/*u {
    text-decoration: none;
    border-bottom: 2px solid black;
}*/



@media screen and (min-width: 1200px) {
    .container-fluid {
        width: 1200px;
        margin: 0 auto;
    }
}
