body {
    background: #f8f3e4;
    font-family: 'Work Sans', serif;
    font-weight: 300;
    color: #964b00;
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

.name {
    font-weight: 100;
    font-size: 60px;
}

a {
    color: inherit;
}

.header-logo {
    margin-top: 20px;
}

hr {
    border-width: 3px;
    border-color: grey;
}

.img-responsive {
    margin: 0 auto;
}

.work-examples {
    text-align: center;
}

.link-addr {
    font-size: 1em;
}

.portfolio-name {
    font-size: 2em;
}

.featured-annoucer {
    margin-bottom: 2em;
    margin-top: 3.5em;
}
em {
    border-width: 3px;
}

.social-links {
    display: flex;
}

.brandico-linkedin-rect {
    color: #0077b5;
    font-size: 30px;
}

.brandico-github-text {
    font-size: 30px;
    color: black;
}

.s-text-format {
    padding-top: 17px;
    margin-right: 10px;
}

.s-link-format {
    padding: 10px;
}

.project {
    margin-bottom: 4em;
}

.img-rounded {
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-title {
    text-align: right;
}

.featured-format {
    text-decoration: none;
    border-bottom: 2px solid #964b00;
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        width: 1200px;
        margin: 0 auto;
    }
}
