body {
    /*font-family: 'Lato', sans-serif;*/
    /*font-weight: 300;*/
    font-family: 'Work Sans', serif;
    font-weight: 300;
    /*color: #747704;*/
    color: #964b00;

    /*font-family: 'Merriweather', serif;*/
}

.text-muted {
    color: #BCBBBB;

}


.name {
    font-weight: 100;
    font-size: 60px;
}

a {
    color: inherit;
}

.title-logo {
    margin-top: 20px;
}

hr {
    /*color: gray;*/
    border-width: 3px;
}

.img-responsive {
    margin: 0 auto;
}
footer {
    /*margin-top: 20px;*/
    /*margin-bottom: 50em;
    padding-bottom: 50em;*/
}

.work-examples {
    text-align: center;
    /*width: 100%;*/

}

p.link-addr {
    font-size: 1em;
}

.portfolio-name {
    font-size: 2em;
}

.featured-annoucer {

}
em {
    border-width: 3px;
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        width: 1200px;
        margin: 0 auto;
    }
}
